:root {
    --bs-offcanvas-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*
----------
common
----------
*/

ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

td > img {
    width: 2.5rem;
}

.ms-form-control:focus {
    box-shadow: none;
    border-color: lightgray;
}

.offcanvas, .offcanvas-end {
    width: var(--bs-offcanvas-width);
}

/*
----------
header
----------
*/

header {
    height: 4.375rem;
    background-color: #f8f9fa;
    padding: .625rem 0;
}

header div img {
    width: 3.125rem;
    height: 3.125rem;
}

header .row .col-auto ul li a i.fa-solid {
    color: #5b5858;
}

header .row .col-auto ul li a i.fa-solid.fa-bell {
    color: #ff8f00;
}

/*
----------
main
----------
*/

main {
    height: calc(100vh - 4.375rem);
}

#sidebar {
    background-color: #051e34;
    background-image: url(sidebar-bg.png);
    padding: 1.25rem;
}

#sidebar ul li {
    color: white;
    margin-bottom: .625rem;
    padding: .3125rem;
}

#sidebar ul li:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgba(191, 191, 191, 0.5)
}

#sidebar ul li span {
    margin-left: .625rem;
}

#sidebar ul li span.ms-desktop{
    display: none;
}

#center-main {
    width: 100%;
    overflow-y: auto;
}

#center-main .top-center-main {
    background-color: #1b72e8;
}

#center-main .top-center-main span.badge {
    background-color: #165bba;
}

#center-main .top-center-main div h3 {
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
}

#center-main .bottom-center-main {
    background-color: #f8f9fa;
    padding: 1.5625rem .9375rem;
}

tbody tr td:first-child {
    min-width: 9.375rem;
}

/*
---------------------
media queries
---------------------
*/

@media screen and (min-width:992px){
    #sidebar{
        width: 9.375rem;
    }

    #sidebar ul li span.ms-desktop{
        display: inline-block;
    }
}