body {
    font-family: 'Roboto', sans-serif;
}

/*
----------
common
----------
*/

ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

td > img {
    width: 2.5rem;
}

/*
----------
header
----------
*/

header {
    height: 4.375rem;
    background-color: #f8f9fa;
    padding: .625rem 0;
}

#nav div img {
    width: 3.125rem;
    height: 3.125rem;
}

/*
----------
main
----------
*/

main {
    height: calc(100vh - 4.375rem);
}

#sidebar {
    background-color: #051e34;
    padding: 1.25rem;

}

#sidebar ul li {
    color: white;
    margin-bottom: .625rem;
}

#sidebar ul li span {
    margin-left: .625rem;
}

#sidebar ul li span.ms-desktop{
    display: none;
}

#center-main {
    width: 100%;
    background-color: pink;
    overflow-y: auto;
}

#center-main .top-center-main {
    background-color: #1b72e8;
}

#center-main .top-center-main div h3 {
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
}

#center-main .bottom-center-main {
    background-color: #f8f9fa;
    padding: 1.5625rem .9375rem;
}

/*
---------------------
media queries
---------------------
*/

@media screen and (min-width:992px){
    #sidebar{
        width: 9.375rem;
    }

    #sidebar ul li span.ms-desktop{
        display: inline-block;
    }
}